$white: rgb(255, 255, 255);
$blue: rgb(131, 215, 255);
$orange: rgb(255, 213, 151);

.row_box {
  > * {
    padding: 0 5px;
  }
  position: relative;
  display: grid;
  font-size: 14px;
  border-bottom: 1px solid lightgrey;
  grid-template-columns: 8% 18% 6% 28% 18% 10% 12%;
}

.is-error {
  border: 2px dashed #e43972;
}

.is-hidden {
  display: none;
}
.-color-white {
  background-color: $white;
}

.-color-blue {
  background-color: $blue;
}

.-color-orange {
  background-color: $orange;
}
