.arrow {
  position: absolute;
  //margin-top: 110px;
  left: 30px;
  background: #d0d0d0;
  color: #444444;
  font-weight: 800;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  bottom: -12px;
  border-radius: 50%;
  z-index: 1;
}
