/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

$white: rgb(255, 255, 255);
$blue: rgb(131, 215, 255);
$orange: rgb(255, 213, 151);

*, *::before, *::after {
	box-sizing: border-box;
}

.o-customFields > * {
	font-size: 14px;
}

.o-customFields__halfCircleSpinner.is-hidden {
	display: none;
}

/* SPINNER */
	
.half-circle-spinner, .half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
	/* added block */
	position: fixed;
	margin-left: -50px;
	margin-top: -100px;
	top: 50%;
	left: 50%;
	z-index: 10;
	/* end of added block */
	width: 60px;
	height: 60px;
	border-radius: 100%;
}

.half-circle-spinner .circle {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: calc(60px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
	border-top-color: #ff1d5e;
	animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
	border-bottom-color: #ff1d5e;
	animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
	0% {
	  transform: rotate(0deg);

	}
	100%{
	  transform: rotate(360deg);
	}
}

/* ERROR MESSAGES */
.o-messageBox ,
.o-messageBox > * {
	box-sizing: border-box;
}

.o-messageBox  {
	position: fixed;
	margin-top: -100px;
	top: 50%;
	z-index: 10;
	width: 100%;
}

.o-messageBox  .fade-out {
	font-size: 4em;
	text-align: center;
}

.c-messageOK.is-hidden,
.c-messageError.is-hidden {
	display: none;
}

.c-messageOK__fadeOut {
	color: gray;
}

.c-messageError__fadeOut {
	color: #e43971;
}

/* NEW BEM CSS */

.c-optionField,
.c-metaField {
	&.-color-white {
		background-color: $white;
	}
}

.c-optionField,
.c-metaField {
	&.-color-blue {
		background-color: $blue;
	}
}

.c-optionField,
.c-metaField {
	&.-color-orange {
		background-color: $orange;
	}
}

.o-meta {
	display:grid;
	grid-auto-rows: minmax(122px, auto);
}

.c-optionField {
	font-size: 14px;
}

.c-optionsForm,
.c-metaFieldsForm {
	&.is-hidden {
		display: none;
	}
}

/*************************/
/* OPTION FIELDS SECTION */
/*************************/

.c-optionsMetaHeaders,
.c-optionField {
	display: grid;
	grid-template-columns: 20% 6% 30% 20% 10% 14%;
}

.c-optionField__fieldErrorMessage,
.c-metaField__fieldErrorMessage {
  margin-top: 4px;
  margin-bottom: 0;

  &.is-visible {
    display: block;
  }

  &.is-hidden {
    display:none;
  }
}

.c-optionField__fieldName,
.c-metaField__fieldName {
	padding: 0 5px;
	height: 100px;
}

.c-metaField__fieldID {
	padding: 0 5px;
	height: 122px;
}

.c-optionsMetaHeaders > *,
.c-metaFieldsHeaders > * {
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	padding: 20px 10px 20px 5px;
}

.c-optionField,
.c-metaField {
	border-top: 1px solid lightgrey;
	> * {
		padding: 0 5px;
	}
	&.is-error {
		border: 2px dashed #e43972;
	}
}

.c-optionRename__newOption,
.c-metaFieldRename__newFieldName {
	&.is-error {
		border: 2px dashed #e43972;
	}
}

.c-optionField__fieldName,
.c-metaField__fieldID,
.c-metaField__fieldName {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.c-optionField__fieldName,
.c-metaField__fieldName {
	margin-bottom: 22px;
}

.c-optionField__fieldErrorContainer,
.c-metaField__fieldErrorContainer {
	height: 22px;
}

.c-optionField__fieldInput,
.c-metaField__fieldInput
.c-metaField__fieldIDInput {
	width: 100%;
}

.c-optionField__fieldActions,
.c-metaField__fieldActions {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 122px;
}

.c-optionField__fieldValueOptions,
.c-metaField__fieldValueOptions {
	display:flex;
	justify-content: space-around;
}

.c-optionField__fieldValueOptionLabel,
.c-metaField__fieldValueOptionLabel {
	display:flex;
	flex-direction: row;
	align-items: center;
	p {
		margin: 0.5em 0;
	}
}

.c-optionField__fieldValueToAdd,
.c-metaField__fieldValueToAdd {
	display:grid;
	align-items: center;
	height: 122px;
}

.c-optionField__fieldCurValue,
.c-metaField__fieldCurValue {
	display: flex;
	align-items: start;
	margin: 1em 0;
	background-color: lightgoldenrodyellow;
	overflow-wrap: anywhere;
}

.c-optionField__fieldCurValueOption,
.c-metaField__fieldCurValueOption {
	height: 122px;
	&.is-hidden {
		display: none;
	}
}

.c-optionField__fieldPrevValue,
.c-metaField__fieldPrevValue {
	display: flex;
	align-items: start;
	margin: 1em 0;
	background-color: lightgoldenrodyellow;
	overflow-wrap: anywhere;
}

.c-metaField__title {
	padding-left: 5px;
}

.c-optionRename {
	display: grid;
	grid-template-columns: 200px 1fr;
	align-items: center;
	grid-template-areas:
		"header old-name"
		"new-name new-name"
}

.c-renameContainer {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}

.c-metaField__header {
	font-size: 14px;
	padding: 20px 10px 20px 0;
	line-height: 1.3;
	font-weight: 600;
}

.c-CopyOptionErrorMessage {
	&.is-hidden {
		display: none;
	}
}

.c-optionRename__newOption {
	grid-area: new-name;
	display:grid;
	grid-template-columns: 200px 1fr;
}

.c-copyToOption,
.c-copyToUserField,
.c-copyToPostField {
	height: 0px;
	overflow: hidden;
	transition: height 500ms linear;
}

.c-copyContainer {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}

.c-copyFromTitle {
	justify-content: left;
}

.c-copyContainer__currentNameOptions {
	display: grid;
	grid-template-columns: 200px 1fr;
	margin-bottom: 9px;
	padding: 0 10px 15px 10px;
	line-height: 1.3;
	font-size: 14px;
}

.c-copyToOption {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}

.c-copyToUserField {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}

.c-copyToOption.is-open {
	height: 176.783px;
}

.c-copyToUserField,
.c-copyToPostField {
	&.is-open {
		height: 180.783px;
	}
}

/***********************/
/* META FIELDS SECTION */
/***********************/

.c-metaFieldsHeaders,
.c-metaField {
	display: grid;
	grid-template-columns: 8% 18% 6% 28% 18% 10% 12%;
}

.c-metaSubmitButton {
	margin-top: 15px;
}

/****************************/
/* BLOCK META FIELD ID NAME */
/****************************/
.c-metaFieldIdName {
	display: grid;
	grid-template-columns: 200px 1fr;
	align-items: center;
	margin-bottom: 10px;
	grid-template-areas:
		"header field-name"
}

.c-metaFieldIdName__header {
	grid-area: header;
	font-weight: 600;
	font-size: 14px;
	padding: 20px 10px 20px 0;
	line-height: 1.3;
}

.c-metaFieldIdName__IdName {
	grid-area: field-name;
	display: grid;
	grid-template-columns: 1fr;
}

.c-metaFieldIdName_errorContainer,
.c-metaFieldIdName_optionContainer {
	height: 22px;
}

.c-metaFieldIdName__IdName.has-errorField {
	margin-bottom: 22px;
}

.c-metaFieldIdName__IdName.has-option {
	margin-top: 22px;
}

.c-metaFieldIdName_fieldContainer {
	display: grid;
	grid-template-columns: 200px 1fr;
	align-items: center;
	line-height: 1.3;
	font-size: 14px;
}

.c-metaFieldErrorMessage {
	margin: 0;
	&.is-hidden {
		display: none;
	}
}
/********************************/
/* END BLOCK META FIELD ID NAME */
/********************************/

/******************************/
/* BLOCK META FIELD ONLY NAME */
/******************************/
.c-metaFieldName {
	display: grid;
	grid-template-columns: 200px 1fr;
	align-items: center;
	margin-bottom: 10px;
}

.c-metaFieldName__header {
	font-weight: 600;
	font-size: 14px;
	padding: 20px 10px 20px 0;
	line-height: 1.3;
}

.c-metaFieldName__field {
	padding: 20px 10px;
	line-height: 1.3;
}

.c-metaFieldName__field.has-errorField {
	margin-bottom: 22px;
}

.c-metaField__fieldOptionContainer {
	height: 22px;
}

.c-metaFieldName__field.has-option {
	margin-top: 22px;
}

.c-metaField__errorMessage {
	margin: 0;
	&.is-hidden {
		display: none;
	}
}
/**********************************/
/* END BLOCK META FIELD ONLY NAME */
/**********************************/